* { margin:0; padding:0; box-sizing:border-box; }

a{
	text-decoration: none;
	color:#00FF80;
	font-family:Vollkorn;
}

.navbar{
	margin:auto;
	background-color:#FFFDE2;
	padding:50px;
	text-align: left;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.logo{
	text-align: right;
	font-family:helvetica;
	margin: 30px;
	font-size: 30px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

nav{
	display: block;
	padding:10px;
}

div{
	display: block;

}

#introduction{
	background: url(images/cathay.jpg) no-repeat center center fixed;
	padding: 300px;
	background-size: cover;
	margin:0;
}

#welcome{
	position:center;
	font-family:'Vollkorn';
	background-color: rgba(0,0,0,0.7);
	width:800px;
	padding:50px;
	margin:auto;
	font-size: 15px;
	text-align: center;
	color: white;
}

h1{
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 50px;
	color:white;
}

.columns{
	margin:0;
	display: block;
	background:#E91E63;	
	float: left;

}

.links{
	display: block;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 550;
	color: white;
	margin:0;
	float: left;
	letter-spacing: 1px;

}

#interviews{
	background:url(Images/frozen.jpg) no-repeat center center fixed;
	background-size: cover;
	margin:0;
	padding:300px;
}

.people{
	background:rgba(3,169,244,1);
	border-radius: .5em;
	color:#fff;
	min-height: 16em;
	padding:1em 2em 1em 1em;
	position:relative;
}

.footer{
	background:#FFBF00;
	min-height:30px;
	margin:0;
	padding:10px;
	color:#58ACFA;
}
	
/*body{
	background: url(http://wallpapers.free-review.net/wallpapers/19/Poetic_sunset.jpg);
	background-size: cover;
}
header{
	background: rgba(225,225,225,0.9);
	text-align: right;
	line-height: 20mm;
}
main{
	text-align: center;
	font-family:arial;
	font-size: 28px;
	background: rgba(0,0,0,.4);
	color: white;
	cursor: url(http://google.com);
}


title{
	padding:50px 30px 80px 0;
}



h3{ }

hr{
	width:60%;
	text-align: center;
}




#about{
	background:rgba(0,0,0,0.5);
	text-align: center;
}

#image{
	text-align: left;
}
*/
