* { margin:0; padding:0; box-sizing:border-box; }

a{
	text-decoration: none;
	color:#00FF80;
	font-family:Vollkorn;
}

.navbar{
	margin:auto;
	background-color:#FFFDE2;
	text-align: left;
	letter-spacing: .1em;
	padding: 60px;
	text-transform: uppercase;
}

.logo{
	font-family:helvetica;
	font-size: 30px;
	float: right;
	letter-spacing: .1em;
	text-transform: uppercase;
}

nav{
	padding:10px;
	float: left;
}

div{
	display: block;

}

#introduction{
	background: url(Images/Cathay.jpg) no-repeat center center fixed;
	padding: 300px;
	background-size: cover;
	margin:0;
}

#welcome{
	position:center;
	font-family:'Vollkorn';
	background-color: rgba(0,0,0,0.7);
	width:800px;
	padding:50px;
	margin:auto;
	font-size: 15px;
	text-align: center;
	color: white;
}

h1{
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 50px;
	color:white;
}

.columns{
	background:#E91E63;	

}

.links{
	width: 33.333%;
	float: left;
	background-color: white;
	text-align: center;
}

.links a {
	display: block;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	background-color: #E91E63;
	padding:30px 10px 30px 10px;
}

.links p {
	padding: 30px;
}

#interviews{
	background: url(Images/Frozen.jpg) no-repeat center center fixed;
	background-size: cover;
	margin:0;
	padding:300px;
}

.people{
	background:rgba(3,169,244,1);
	border-radius: .5em;
	color:#fff;
	min-height: 16em;
	padding:1em 2em 1em 1em;
	position:relative;
}

.footer{
	background:#FFBF00;
	min-height:30px;
	margin:0;
	padding:10px;
	color:#58ACFA;
}
