* { margin:0; padding:0; box-sizing:border-box; }
body{
	background: url(http://wallpapers.free-review.net/wallpapers/19/Poetic_sunset.jpg);
	background-size: cover;
}
header{
	background:#f2f0c8;
	text-align: right;
	line-height: 20mm;
}
main{
	text-align: center;
	font-family:arial;
	font-size: 28px;
	background: rgba(0,0,0,.4);
	color: white;
	cursor: url(http://google.com);
}
h1{
	text-decoration: none;
	font-style: italic;
	font-size: 24px;
	font-family: helvetica, arial, sans-serif;
}

h3{ }
#introduction{
	background:rgb(255,0,0);
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 9mm;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#image{
	text-align: left;
}
